# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
packet_web_env
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.pytest_cache/
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Django/Flask
*.log
local_settings.py
db.sqlite3
instance/
.webassets-cache

# IDE settings
.vscode/
.idea/
.spyderproject
.spyproject

# Misc
.mypy_cache/
.pyre/
.pytype/
.ropeproject
.pdm-python
__pypackages__/